In [18]:
from cgi import test
from turtle import left
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

In [2]:
train_data = pd.read_csv('data\ApartmentTrading.csv')

In [3]:
train_data.head()

,Unnamed: 0,dien_tich,huong_ban_cong,phong_ngu,id_thanh_pho,ten_thanh_pho,id_quan,ten_quan,so_tang,mat_tien,...,gia,gia_m2,du_an,project_name,id_duong,ten_duong,do_rong_duong,do_rong_duong_ml,id_phuong,ten_phuong
0,0,75.0,NaN,2.0,5e5501caeb80a7245175dddb,Thành phố Hà Nội,5e5501caeb80a7245175de1a,Quận Ba Đình,NaN,NaN,...,6300.0,84.000000,NaN,NaN,5e958ee8208d0d6d7648f9d1,Phố Ngọc Khánh,NaN,NaN,5e5501cbeb80a7245175e0eb,Phường Ngọc Khánh
1,1,115.0,Đông Nam,3.0,5e5501caeb80a7245175dddb,Thành phố Hà Nội,5e5501caeb80a7245175de1a,Quận Ba Đình,NaN,NaN,...,10250.0,89.130435,NaN,NaN,5e958ee8208d0d6d7648f9d1,Phố Ngọc Khánh,NaN,NaN,5e5501cbeb80a7245175e0eb,Phường Ngọc Khánh
2,2,100.0,NaN,2.0,5e5501caeb80a7245175dddb,Thành phố Hà Nội,5e5501caeb80a7245175de1a,Quận Ba Đình,1.0,NaN,...,2600.0,26.000000,NaN,NaN,5e958ee8208d0d6d7648f9da,Phố Thành Công Bắc,NaN,NaN,5e5501cbeb80a7245175e0ee,Phường Thành Công
3,3,30.0,NaN,2.0,5e5501caeb80a7245175dddb,Thành phố Hà Nội,5e5501caeb80a7245175de1a,Quận Ba Đình,2.0,NaN,...,3500.0,116.666667,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,72.0,NaN,2.0,5e5501caeb80a7245175dddb,Thành phố Hà Nội,5e5501caeb80a7245175de1a,Quận Ba Đình,3.0,NaN,...,1750.0,24.305556,NaN,NaN,5e958ee8208d0d6d7648f9bf,Phố Đặng Dung,NaN,NaN,5e5501cbeb80a7245175e0e7,Phường Quán Thánh

# lọc quận hoàng mai

In [4]:
train_data = train_data.loc[train_data['ten_quan']=='Quận Hoàng Mai'].reset_index(drop=True)
# train_data = train_data.drop(['Unnamed: 0'],axis=1)
train_data.columns

Index(['Unnamed: 0', 'dien_tich', 'huong_ban_cong', 'phong_ngu',
       'id_thanh_pho', 'ten_thanh_pho', 'id_quan', 'ten_quan', 'so_tang',
       'mat_tien', 'noi_that', 'huong_nha', 'so_do', 'lat', 'long', 'gia',
       'gia_m2', 'du_an', 'project_name', 'id_duong', 'ten_duong',
       'do_rong_duong', 'do_rong_duong_ml', 'id_phuong', 'ten_phuong'],
      dtype='object')

# bỏ đi những coulmns bị thiếu 20% dữ liệu

In [5]:
null_rate = train_data.isnull().sum() / train_data.shape[0]
a = null_rate[null_rate > 0.2]
a.index
train_data_test = train_data.drop(a.index,axis = 1)
train_data_test.columns

Index(['Unnamed: 0', 'dien_tich', 'id_thanh_pho', 'ten_thanh_pho', 'id_quan',
       'ten_quan', 'lat', 'long', 'gia', 'gia_m2', 'id_duong', 'ten_duong',
       'id_phuong', 'ten_phuong'],
      dtype='object')

# xoá những columns thừa,không ảnh hưởng đến dự đoán

In [6]:
train_data_test = train_data_test.drop(['id_duong','id_phuong','id_quan','id_thanh_pho','Unnamed: 0'],axis = 1)
train_data_test.columns

Index(['dien_tich', 'ten_thanh_pho', 'ten_quan', 'lat', 'long', 'gia',
       'gia_m2', 'ten_duong', 'ten_phuong'],
      dtype='object')

In [7]:

train_data_test = train_data_test.dropna(subset=['gia'])
Y = train_data_test['gia']
train_data_test = train_data_test.drop('gia',axis= 1)
train_data_test.columns

Index(['dien_tich', 'ten_thanh_pho', 'ten_quan', 'lat', 'long', 'gia_m2',
       'ten_duong', 'ten_phuong'],
      dtype='object')

# xử lý dữ liệu missing

In [8]:
from sklearn.impute import SimpleImputer

my_imputer = SimpleImputer(strategy = 'most_frequent', fill_value = None)
X_T = pd.DataFrame(my_imputer.fit_transform(train_data_test))

X_T.columns = train_data_test.columns
X_T.columns

Index(['dien_tich', 'ten_thanh_pho', 'ten_quan', 'lat', 'long', 'gia_m2',
       'ten_duong', 'ten_phuong'],
      dtype='object')

# onehot dữ liệu

In [10]:


ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), [1,2,6,7])] , remainder="passthrough" )

X = ct.fit_transform(X_T)

# dự đoán giá

In [17]:
#du doan

from sklearn.model_selection import train_test_split

x_train,x_valid,y_train,y_valid = train_test_split(X,Y,train_size=0.8,test_size=0.2,random_state=0)

from sklearn.tree import DecisionTreeRegressor
dt_model = DecisionTreeRegressor(random_state=1)

dt_model.fit(x_train,y_train)
y_preds = dt_model.predict(x_valid)
pd.DataFrame({'gia_dung': y_valid.head(10),'gia_du_doan' : y_preds[:10]})

      gia_dung  gia_du_doan
2722    2650.0       2700.0
1820    1400.0       1500.0
2702     850.0        900.0
2776    2500.0       2500.0
1297    1150.0       1150.0
1390    2650.0       2800.0
1134    1600.0       1600.0
204     2883.0       2945.0
2403    1870.0       1870.0
2036    2500.0       2420.0